
{% block primary %}
	
   {% if app.user !=null %}
	   {{dump(app.user)}}
	   {%endif %}



	   {%if is_granted ('ROLE_SUPER_ADMIN')%}
	   login as super ADMIN
		   
		 {%endif %}

	   
	   {%if is_granted ('ROLE_ADMIN')%}
	   login as ADMIN
		   
		 {%endif %}
		 
		{%if is_granted ('ROLE_USER')%} 
			Login as User
		{%endif %}	
		
				{%if is_granted ('ROLE_GUEST')%} 
			Login as GUESSS
		{%endif %}	

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
		<input type="hidden" name="_target_path" value="/login">
 
        <button type="submit">login</button>
    </form>
{% endblock %}